/** @format */

#businessmodel {
  width: 100%;
  height: 111.94vh;
  background-image: url(../../image/BusinessModelBackGround.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 5%;

  .title {
    width: 30%;
    margin-bottom: -2rem;
  }

  .content {
    width: 100%;
  }
}
